#header-menu li{
	margin-right: 1em;
}

.logo-link{
	margin-right: 2em;
}

#main-header{
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #7f6105;
}

#filter-header{
	margin-top: 3.6em;
}

#header-toggle .form-check{
	padding-left: 0px;
	margin-right: 0.4em;
	margin-left: 0.4em;
}

#header-display-toggle{
	margin-left: 0px;
}

.filter-wrapper{
	max-width: 90%;
}

/*.filter-wrapper .filter-block{
	border-right: 1px solid #7f6105;
}

.filter-wrapper .filter-block:last-child{
	border-right-style: none;
}

.filter-wrapper .filter-block:first-child{
	border-right-style: none;
}

.filter-check{
	margin-left: -1.2em !important;
}*/

.header-filter-title{
	margin-right: 0.5em;
	vertical-align: middle;
	color: #C0C0C0;
}

.filter-check-group{
	margin-right: 0.6rem !important;
}

.filter-spacer{
	color: #7f6105;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

.filter-check-group .ms-2x{
	font-size: 1.4em;
}

.ms-rare{
	color: #101010;
	background: linear-gradient(0deg, #c8913b 0%, #ecc65a 100%);
}

.ms-common{
	color: #efefef;
	background: linear-gradient(0deg, #242424 0%, #747474 100%);
}

.ms-uncommon{
	color: #101010;
	background: linear-gradient(0deg, #999999 0%, #dedede 100%);
}

.ms-mythic{
	color: #101010;
	background: linear-gradient(0deg, #b2560a 0%, #FF7A0E 100%);
}

.ms-special{
	color: #101010;
	background: linear-gradient(0deg, #67456f 0%, #a87cb1 100%);
}

.btn-extra-small{
	padding-top: 0px;
	padding-bottom: 0px;
}

#filter-status-wrapper .filter-check-group{
	padding-left: 0px;
	margin-right: 0.9em !important;
}

#filter-status-wrapper input{
	padding-left: 0px;
	margin-right: 0.2em;
	margin-left: 0em !important;
}

#filter-status-wrapper .form-check-label{

}