:root{
    --card_width: 100px
}

.mtgcard-outer {
    background-color: #505065;
    border-width: 2px;
    border-color:#505065;
    border-radius: 5px;
    border-style: solid;
    width: var(--card_width);
    display: inline-flex;
    margin-bottom: 0.1em;
}

.mtgcard-header{
    background-color: #505065;
    width: 100%;
    padding: 0 0 0 0;
    /* display: inline; */
}

.mtgcard-body {
    width: 100%;
    aspect-ratio: 61 / 85;
    display: inline-flex;
    padding: 0 0 0 0;
    background-size: contain;
}

.mtgcard-icon-wrapper {
    width: 100%;
    text-align: center;
    font-size: 6em;
    margin-top: auto;
    margin-bottom: auto;
}