.rarity-icon-wrapper{
}

.rarity-icon{
  max-height: 2.1em;
}

.finder-card-details{
/*  float: right;*/
  aspect-ratio: 1 / 1;
}

.finder-card-status{
  position: absolute;
  margin-top: 20%;
  text-align: center;
  cursor: default;
  font-size: 14em;
  width: 100%;
  min-width: 100%;
}

.finder-card-quantity-wrapper{
  text-align: center;
  align-items: center;
}

.finder-card-quantity{
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
}

.finder-card-body{
  padding: 0.1em 0.5em 0.5em 0.5em;
  text-align: center;
  object-fit: contain;
}

.finder-card-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.finder-icon-group{
/*  background-color: #000000;*/
  min-height: 3.65rem;
}

@media (min-width: 1275px) {
  .finder-icon-group {
/*    background-color: #ff0000;*/
    min-height: 1rem;
  }
}


.finder-card-rarity-icon{
    aspect-ratio: 1 / 1;
    max-width: 2.5em;
    font-size: 120%;
}

.finder-card-quantity-control{
  padding: 0px 0.2em 0px 0.2em;
}


.finder-card-set-icon{
    width: 1.5em;
    height: 1.5em;
}

.finder-card-control-col{
  align-items: center;
  display: flex;
}

.finder-card-control-group{
  margin-left: auto;
  margin-right: auto;
}

.finder-card-trash{
  float:right;
  display: inline-block;
  padding: 0.1em;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #dc3546;
  vertical-align: middle;
  transition: all 1s;
  position: relative;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  z-index: 1;
}

.finder-card-trash::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #dc3546;
}

.finder-card-trash::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b02a37;
  transition: all 1s;
  z-index: -1;
}

.finder-card-trash:active::before{
  width: 100%;
}





/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}*/

